body {
	font-size: 16px;
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	font-family: 'Lobster', cursive;
}

#header-nav {
	background-color: #676768;
	border-radius: 0;
	border: 0;
	color: white;
}

.navbar-brand p {
	color: rgb(0, 0, 0);
	font-size: 20px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list a {
	color: white;
	text-align: center;
}

#nav-list a:hover {
	background-color: #8243d6;
}

#home {
	margin-bottom: 30px;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: rgb(133, 131, 131);
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
}

@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}